<!DOCTYPE html>
<title>Visited</title>
<link rel="stylesheet" href="leaflet/leaflet.css">
<link rel="stylesheet" href="styles.css">

<script> const gInitialFeatures = !{JSON.stringify(gInitialFeatures)};</script>
<script>const gI18n = !{JSON.stringify(gI18n)};</script>

<!-- <script src="leaflet/leaflet-src.js"></script> -->
<script src="leaflet/leaflet.js"></script>
<script src="simplebox/simplebox.js"></script>
<script src="main.js"></script>

<body onload="main()">
<div id="info-bar"></div>
</body>
